discard
__pycache__
.vscode
notes
*.env
.git
.flaskenv
.
tmp
.coverage
..
mycreds.txt
secrets.json
mycreds.txt
token.pickle
notes.code-workspace
google-credentials.json
*.sqlite
.env
script.py
unit*.json
tmp
.coverage