* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul{
    list-style: none;
}

@font-face {
    font-family: fira;
    src: url('fonts/firasans/FiraSans-Bold.otf')
}

@font-face {
    font-family: oS-Bold;
    src: url('fonts/OpenSans-Semibold.ttf')
}

@font-face {
    font-family: fira4;
    src: url('fonts/firasans/FiraSans-Four.otf')
}

@font-face {
    font-family: firaHair;
    src: url('fonts/firasans/FiraSans-Hair.otf')
}

@font-face {
    font-family: openSansReg;
    src: url('fonts/OpenSans-Regular.ttf')
}

@font-face {
    font-family: openSansLight;
    src: url('fonts/OpenSans-Light.ttf')
}


#icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#icon img {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
}

#search {
    float: right;
    width: 0;
    visibility: hidden;
    margin-bottom: 1em;
    margin-right: 5em;
}

#search-icon {
    width: 15px;
    height: 100%;
}
.landing{
    position:absolute;
    top:0;
    z-index:-1;
    left:0;
    min-height: 100vh;
    width:100%;
    color:#eee;
    text-align:center;
    font-family:os-Bold ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(./imgs/library.jpg);
    background-size: cover;
    background-position: center;
}
.landing h1{
    position: absolute;
    font-family: inherit;
    top:50%;
    left:50%;
    margin:auto;
    transform:translate(-50%);

}
h3 {
    padding: 10px;
    font-family: firaHair;
    font-weight: 600;
}

#dashboard {
    width: 20%;
    border: 1px inset rgb(214, 209, 209);
    display: flex;
    padding: 5px;
    box-shadow: 3px 2px 5px 2px #222;
    min-height: 80vh;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}

#course-name {
    display: block;
    border-bottom: 1px solid silver;
    padding: 0.5em 10px;
    font-family: openSansLight;
}

#search input {
    width: 100%;
    border-radius: 15px;
}

#year>div {
    display: none;
}

#year:focus>.semester,
#year:hover>.semester {
    display: block;
}

.semester:hover .units {
    display: block;
}

.units {
    margin-left: 1em;
    padding: 10px;
}

.semester {
    margin-left: 0.5em;
    padding: 10px;
}
/* .form-container{
    width:40%;
    margin:auto;
    transform:translateY(10%);
} */
.add-admin-form{
    width:100%;
    padding:2em;
    max-height:90vh;
    color:#fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(./imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (min-width:700px){
.add-admin-form .form-container{
    width:40%;
      margin:auto;
    transform:translateY(10%);
}
}
