.App {
  text-align: center;
}
.login-form{
width:30%;

margin:auto;
margin-top:5%;
}
.login-form form{
display:flex;
padding:20% 10px;

border:1px inset silver;
flex-direction:column;
}
.input{
padding:4px;
width:70%;
margin:10px auto;
}
legend{
font-family:FFDINWebProLight, sans-serif;
font-size:2em;
}
.button{
display:inline-block;
width:10em;
margin:auto;
transition:0.3s;
margin-top:1em;
height:30px;
border-radius:10px;
}
.button:hover{
cursor:pointer;
background:transparent;
}

@media screen and (max-width:600px){
.login-form{
width:100%;
} }