{%extends 'layout.html'%}
{%from 'macros.html' import data_item with context%}
{%block content%}
<div class='container'>
    <div class='p-2 unit-banner'>
    <p class='container'>
        <h2 class='vague-darker'>{{unit.name}}</h2>
        <h6 class='vague'>{{unit.code}}</h6>
        <span class='vague'>Year {{unit.year}}</span>
        <span class='vague'>Semester {{unit.semester}}</span>

    </p>
        <div class='extension_filter_form container-fluid'>
            <form class='form-group d-flex w-25 p-2 ml-auto justify-content-center' action='/filter/ext/{{unit.id}}' method="get" id='filter_ext'>
                <select name='extension' id='file_extensions' class='form-control'>
                    <option value='pdf'>pdf</option>
                    <option value='docx'>docx</option>
                    <option value='doc'>doc</option>
                    <option value='ppt'>ppt</option>
                    <option value='.mp4'>video</option>
                    <option value='all'>all</option>

                </select>
                <button class='btn btn-secondary' type='submit'>filter</button>
            </form>
        </div>
    </div>
    <div>
        <ul class='units-list'>
        {%for note in notes%}
           {{data_item(note)}} 
            {%endfor%}
        </ul>
    </div>
</div>

{%endblock%}