{%extends 'layout.html'%}
{%from 'macros.html' import data_item with context%}
{%from 'macros.html' import filter_form with context%}
{%block content%}
<div class='container'>
    <div class='p-2 unit-banner'>
    <p class='container'>
        <h2 class='vague-darker'>{{unit.name}}</h2>
        <h6 class='vague'>{{unit.code}}</h6>
        <span class='vague'>Year {{unit.year}}</span>
        <span class='vague'>Semester {{unit.semester}}</span>

    </p>
        {{filter_form('unit')}}
    </div>
    <div>
        <ul class='units-list'>
        {%for note in notes%}
           {{data_item(note)}} 
            {%endfor%}
        </ul>
    </div>
</div>

{%endblock%}