{%extends 'layout.html'%} {%block content%}
<div class='container analytics-container'>
    <div class='card-container'>
        <div class=' analytics-card analytics-users'><a href="{{url_for('main.users')}}">{{Users.query.count()}} users</a></div>
        <div class=' analytics-card analytics-courses'><a href="{{url_for('main.courses')}}">{{Courses.query.count()}} courses</a></div>
        <div class=' analytics-card analytics-units'><a href="{{url_for('main.units')}}">{{Units.query.count()}} units</a></div>
        <div class=' analytics-card analytics-notes'><a href="{{url_for('main.notes')}}">{{Notes.query.count()}} Notes</a></div>
    </div>
    <div class='all-units-container'>
        <h3>Courses</h3>
        <ul class='units-list'>
            {%for course in Courses.query.order_by("code").all()%}
            <ul class='units-list-item'>
                <li class=' mr-2 vague'>{{course.code}}</li> 
                <li class='vague-darker'>{{course.name}}</li>
            </ul>
            {%endfor%}  
        </ul> 
     </div>
</div>
{%endblock%}