{%extends 'layout.html'%}
{%block content%}
<div class='container analytics-container'>
    <div class='card-container'>
        <div class=' analytics-card analytics-users'><a href="{{url_for('main.users')}}">{{Users.query.count()}} users</a></div>
        <div class=' analytics-card analytics-courses'><a href="{{url_for('main.courses')}}">{{Courses.query.count()}} courses</a></div>
        <div class=' analytics-card analytics-units'><a href="{{url_for('main.units')}}">{{Units.query.count()}} units</a></div>
        <div class=' analytics-card analytics-notes'><a href="{{url_for('main.notes')}}">{{Notes.query.count()}} Notes</a></div>
    </div>
    <div class='all-units-container'>
        <h3>Notes</h3>
        <ul class='units-list'>
            {%for note in Notes.query.order_by("name").all()%}
            <li class='units-list-item'>
                <span class=' mr-2 vague'>{{note.name}}</span> 
                <span class='vague-darker'>{{note.unit.code}}</span>
                <a class='units-list-items-count' target=_blank href='https://drive.google.com/file/d/{{note.id}}/view'>view</a>
            </li>
            {%endfor%}  
        </ul> 
     </div>
</div>
{%endblock%}