{%extends 'layout.html'%} {%block content%}
<div class='container analytics-container'>
    <div class='card-container'>
        <div class=' analytics-card analytics-users'><a href="{{url_for('main.users')}}">{{Users.query.count()}} users</a></div>
        <div class=' analytics-card analytics-courses'><a href="{{url_for('main.courses')}}">{{Courses.query.count()}} courses</a></div>
        <div class=' analytics-card analytics-units'><a href="{{url_for('main.units')}}">{{Units.query.count()}} units</a></div>
        <div class=' analytics-card analytics-notes'><a href="{{url_for('main.notes')}}">{{Notes.query.count()}} Notes</a></div>
    </div>
    <div class='all-units-container'>
        <h3>Units</h3>
        <ul class='units-list'>
            {%for unit in Units.query.order_by("code").all()%}
            <li class='units-list-item'>
                <span class=' mr-2 vague'>{{unit.code}}</span> 
                <span class='vague-darker'>{{unit.name}}</span>
               {%if Notes.query.filter_by(unit_id=unit.id).count()>0%}
                <span class='units-list-items-count'>{{Notes.query.filter_by(unit_id=unit.id).count()}}</span>
            {%endif%}
            </li>
            {%endfor%}  
        </ul> 
     </div>
</div>
{%endblock%}