{%extends 'layout.html'%} {%block content%}
<div class='container analytics-container'>
    <div class='card-container'>
        <div class=' analytics-card analytics-users'><a href="{{url_for('main.users')}}">{{Users.query.count()}} users</a></div>
        <div class=' analytics-card analytics-courses'><a href="{{url_for('main.courses')}}">{{Courses.query.count()}} courses</a></div>
        <div class=' analytics-card analytics-units'><a href="{{url_for('main.units')}}">{{Units.query.count()}} units</a></div>
        <div class=' analytics-card analytics-notes'><a href="{{url_for('main.notes')}}">{{Notes.query.count()}} Notes</a></div>
    </div>
    <div class='all-units-container'>
        <ul class='units-list'>
            <h3>Users</h3>
            {%for user in Users.query.order_by("id").all()%}
            <li class='units-list-item'>
                <span class=' mr-2 vague'>{{user.email}}</span> 
             </li>
            {%endfor%}  
        </ul> 
     </div>
</div>
{%endblock%}