{%extends 'layout.html'%} {%block content%}
<div class='container analytics-container'>
    <div class='card-container'>
        <div class=' analytics-card analytics-users'>{{Users.query.count()}} Users</div>
        <div class=' analytics-card analytics-courses'>{{Courses.query.count()}} Courses</div>
        <div class=' analytics-card analytics-units'>{{Units.query.count()}} Units</div>
        <div class=' analytics-card analytics-notes'>{{Notes.query.count()}} Notes</div>
    </div>
    <div class='all-units-container'>
        <ul class='units-list'>
            <h3>Units</h3>
            {%for unit in Units.query.order_by("code").all()%}
            <h3 class='units-list-item'>
                <span class=' mr-2 vague'>{{unit.code}}</span> 
                <span class='vague-darker'>{{unit.name}}</span>
               {%if Notes.query.filter_by(unit_id=unit.id).count()>0%}
                <span class='units-list-items-count'>{{Notes.query.filter_by(unit_id=unit.id).count()}}</span>
            {%endif%}
            </h3>
            {%endfor%}  
        </ul> 
     </div>
</div>
{%endblock%}