<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<title>{{title}}</title>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

    <meta charset='UTF-8'>
</head>

<body>
        <header>
            <div id='nav'>
                <div class='nav-items'><a href='/'>Home</a> </div>
                <ul class="nav-right">
                    <li class='nav-items'><a href="/docs" id='docs'>Docs</a></li>
                    {%if current_user.is_anonymous%}
                    <li class='nav-items'><a href="{{url_for('auth.login')}}" id='login'>Login</a></li>
                    {%else%}
                     {%if current_user.is_admin%}
                    <li class='nav-items'><a href="/admin" id='login'>Dashboard</a></li>
                    {%endif%}
                    <li class='nav-items'><a href="{{url_for('auth.logout')}}">Logout</a> </li>
                    <li id="icon"><img id='img' src='https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png' alt='Google profile'></li> 
                    {%endif%}
               </ul>

    
            </div>

                   

            {% block notifications%} {%for category,message in get_flashed_messages(with_categories=True)%}
            <div class=' alert alert-{{category}}'>
                <button class='close' data-dismiss="alert">&times</button>
            </div>
            {%endfor%} {% endblock %} {%block content%}

            <div class="modal"></div>
            {%endblock%}

        </header>
</body>

</html>