<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="university of nairobi notes api ,access to university unit resources and pdfs"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
           <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
           <link rel="stylesheet" href="{{url_for('static',filename='docs.css')}}">
           <link rel="stylesheet" href="{{url_for('static',filename='analytics.css')}}">

  <link rel='icon' href="{{url_for('static',filename='favicon.ico')}}" type='image/x-icon'>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<title>api.Biblioteca</title>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <meta charset='UTF-8'>
</head>

<body>
        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
              <a class="navbar-brand" href='/'>Home</a> 
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {%if current_user.is_admin%}
                    <li class='nav-item'><a target='_blank' class='nav-link' href="/api/try" id='docs'>Try</a></li>
                    <li class='nav-item'><a class='nav-link' href="{{url_for('main.drive',page=1)}}" >Drive</a></li>

                    <li class='nav-item'><a target='_blank' class='nav-link' href="{{url_for('auth.add_admin')}}" id='invite'>Invite</a></li>
		    {%endif%}
                    <li class='nav-item'><a class='nav-link' href="{{url_for('api.docs')}}" id='docs'>Docs</a></li>

                    {%if current_user.is_anonymous%}
                    <li class='nav-item'><a class='nav-link' href="{{url_for('auth.login')}}" id='login'>Login</a></li>
                    {%else%}
                     {%if current_user.is_admin%}
                    <li class='nav-item'><a class='nav-link' href="/admin" id='login'>Dashboard</a></li>
                    {%endif%}
                    <li class='nav-item'><a class='nav-link' href="{{url_for('auth.logout')}}">Logout</a> </li>
        
                    {%endif%}
               </ul>
               </div>
            </nav>
         

                   

            {% block notifications%} 
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% endblock %} 
            {%block content%}

            {%endblock%}

        </header>
</body>

</html>
