{%extends 'layout.html'%} {% block content %}

<form id='coursenotes'>
    <label for='name'><h3>Enter course code</h3></label>
    <input id='name' type='text' name='course_code'>
    <button type="submit">search</button>
</form>
<ul id='notes-list'>
</ul>
<script>
    window.addEventListener('load', () => {
        let list = document.querySelector('#notes-list')
        let form = document.querySelector('#coursenotes');
        form.addEventListener('submit', e => {
            e.preventDefault();
            const code = form.elements['course_code'].value;


            fetch('/course/notes',{
                method:'POST',
                headers:{
                'Content-Type':'application/json',
                },
                body:JSON.stringify({'course_code':code})
                    }
                )
                .then(resp => resp.json())
                .then(data => {
                    if (data['error']) {
                        console.log(data['error'])
                    } else {
                        console.log(data)
                        let notes = data;
                        notes.forEach(el => {
                            let item = document.createElement('li')
                            let view = document.createElement('a')

                            
                            view.href = `https://drive.google.com/file/d/${el.gid}/view`
                            view.innerHTML = 'View'
                            view.target = '_blank'
                            view.type = 'application/pdf'
                            view.classList += 'view'
                            item.innerHTML = el.name
                            item.appendChild(view)
                            list.appendChild(item)



                        })
                    }

                })
        })
    })
</script>
{% endblock%}