<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <fieldset>
        <form id='form' method='post' action='/upload' enctype="multipart/form-data">
            <input type='text' name='unit_code' placeholder='unit' title="format [SPH_202]">
            <input type="file" name='notes' multiple>
            <button type=submit>upload</button>
        </form>
    </fieldset>
    <script>
    </script>
</body>

</html>